{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "Circular Democracy API",
    "description": "API for processing citizen messages to politicians"
  },
  "servers": [
    {
      "url": "https://api.circulardemocracy.org",
      "description": "Production server"
    },
    {
      "url": "http://localhost:8787",
      "description": "Development server"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {},
    "parameters": {}
  },
  "paths": {
    "/api/v1/messages": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Messages"
        ],
        "summary": "Process incoming citizen message",
        "description": "Receives a citizen message, classifies it by campaign, and stores it for politician response",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "external_id": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255,
                    "description": "Unique identifier from source system"
                  },
                  "sender_name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255,
                    "description": "Full name of the message sender"
                  },
                  "sender_email": {
                    "type": "string",
                    "maxLength": 255,
                    "format": "email",
                    "description": "Email address of the sender"
                  },
                  "recipient_email": {
                    "type": "string",
                    "maxLength": 255,
                    "format": "email",
                    "description": "Email address of the target politician"
                  },
                  "subject": {
                    "type": "string",
                    "maxLength": 500,
                    "description": "Message subject line"
                  },
                  "message": {
                    "type": "string",
                    "minLength": 10,
                    "maxLength": 10000,
                    "description": "Message body content"
                  },
                  "timestamp": {
                    "type": "string",
                    "format": "date-time",
                    "description": "When the message was originally sent (ISO 8601)"
                  },
                  "channel_source": {
                    "type": "string",
                    "maxLength": 100,
                    "description": "Source system identifier"
                  },
                  "campaign_hint": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "Optional campaign name hint from sender"
                  }
                },
                "required": [
                  "external_id",
                  "sender_name",
                  "sender_email",
                  "recipient_email",
                  "subject",
                  "message",
                  "timestamp"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message processed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message_id": {
                      "type": "number"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "processed",
                        "failed",
                        "politician_not_found",
                        "duplicate"
                      ]
                    },
                    "campaign_id": {
                      "type": "number"
                    },
                    "campaign_name": {
                      "type": "string"
                    },
                    "confidence": {
                      "type": "number",
                      "minimum": 0,
                      "maximum": 1
                    },
                    "duplicate_rank": {
                      "type": "number"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "success",
                    "status"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": false
                    },
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API Key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": false
                    },
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Politician not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message_id": {
                      "type": "number"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "processed",
                        "failed",
                        "politician_not_found",
                        "duplicate"
                      ]
                    },
                    "campaign_id": {
                      "type": "number"
                    },
                    "campaign_name": {
                      "type": "string"
                    },
                    "confidence": {
                      "type": "number",
                      "minimum": 0,
                      "maximum": 1
                    },
                    "duplicate_rank": {
                      "type": "number"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "success",
                    "status"
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Duplicate message",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message_id": {
                      "type": "number"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "processed",
                        "failed",
                        "politician_not_found",
                        "duplicate"
                      ]
                    },
                    "campaign_id": {
                      "type": "number"
                    },
                    "campaign_name": {
                      "type": "string"
                    },
                    "confidence": {
                      "type": "number",
                      "minimum": 0,
                      "maximum": 1
                    },
                    "duplicate_rank": {
                      "type": "number"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "success",
                    "status"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": false
                    },
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/campaigns": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Campaigns"
        ],
        "responses": {
          "200": {
            "description": "A list of campaigns",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "number"
                      },
                      "name": {
                        "type": "string"
                      },
                      "slug": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string",
                        "nullable": true
                      },
                      "status": {
                        "type": "string"
                      },
                      "created_at": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "id",
                      "name",
                      "slug",
                      "description",
                      "status",
                      "created_at"
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Campaigns"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 3
                  },
                  "slug": {
                    "type": "string",
                    "minLength": 3,
                    "pattern": "^[a-z0-9-]+$"
                  },
                  "description": {
                    "type": "string"
                  }
                },
                "required": [
                  "name",
                  "slug"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created campaign",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "number"
                    },
                    "name": {
                      "type": "string"
                    },
                    "slug": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string",
                      "nullable": true
                    },
                    "status": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "slug",
                    "description",
                    "status",
                    "created_at"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/campaigns/stats": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Campaigns",
          "Statistics"
        ],
        "summary": "Get campaign statistics",
        "responses": {
          "200": {
            "description": "Campaign statistics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "campaigns": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "message_count": {
                            "type": "number"
                          },
                          "recent_count": {
                            "type": "number"
                          },
                          "avg_confidence": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "message_count",
                          "recent_count"
                        ]
                      }
                    }
                  },
                  "required": [
                    "campaigns"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/campaigns/{id}": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d+$"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "A single campaign",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "number"
                    },
                    "name": {
                      "type": "string"
                    },
                    "slug": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string",
                      "nullable": true
                    },
                    "status": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "slug",
                    "description",
                    "status",
                    "created_at"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Campaign not found"
          }
        }
      }
    },
    "/api/v1/politicians": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Politicians"
        ],
        "responses": {
          "200": {
            "description": "A list of politicians",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "number"
                      },
                      "name": {
                        "type": "string"
                      },
                      "email": {
                        "type": "string",
                        "format": "email"
                      },
                      "party": {
                        "type": "string",
                        "nullable": true
                      },
                      "country": {
                        "type": "string",
                        "nullable": true
                      },
                      "region": {
                        "type": "string",
                        "nullable": true
                      },
                      "position": {
                        "type": "string",
                        "nullable": true
                      },
                      "active": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "id",
                      "name",
                      "email",
                      "party",
                      "country",
                      "region",
                      "position",
                      "active"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/politicians/{id}": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Politicians"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^\\\\d+$"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "A single politician",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "number"
                    },
                    "name": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string",
                      "format": "email"
                    },
                    "party": {
                      "type": "string",
                      "nullable": true
                    },
                    "country": {
                      "type": "string",
                      "nullable": true
                    },
                    "region": {
                      "type": "string",
                      "nullable": true
                    },
                    "position": {
                      "type": "string",
                      "nullable": true
                    },
                    "active": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "email",
                    "party",
                    "country",
                    "region",
                    "position",
                    "active"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Politician not found"
          }
        }
      }
    },
    "/api/v1/reply-templates": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Reply Templates"
        ],
        "responses": {
          "200": {
            "description": "A list of reply templates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "number"
                      },
                      "politician_id": {
                        "type": "number"
                      },
                      "campaign_id": {
                        "type": "number"
                      },
                      "name": {
                        "type": "string"
                      },
                      "subject": {
                        "type": "string"
                      },
                      "body": {
                        "type": "string"
                      },
                      "active": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "id",
                      "politician_id",
                      "campaign_id",
                      "name",
                      "subject",
                      "body",
                      "active"
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Reply Templates"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "politician_id": {
                    "type": "number"
                  },
                  "campaign_id": {
                    "type": "number"
                  },
                  "name": {
                    "type": "string"
                  },
                  "subject": {
                    "type": "string"
                  },
                  "body": {
                    "type": "string"
                  }
                },
                "required": [
                  "politician_id",
                  "campaign_id",
                  "name",
                  "subject",
                  "body"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created reply template",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "number"
                    },
                    "politician_id": {
                      "type": "number"
                    },
                    "campaign_id": {
                      "type": "number"
                    },
                    "name": {
                      "type": "string"
                    },
                    "subject": {
                      "type": "string"
                    },
                    "body": {
                      "type": "string"
                    },
                    "active": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "id",
                    "politician_id",
                    "campaign_id",
                    "name",
                    "subject",
                    "body",
                    "active"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/reply-templates/{id}": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Reply Templates"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^\\\\d+$"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "A single reply template",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "number"
                    },
                    "politician_id": {
                      "type": "number"
                    },
                    "campaign_id": {
                      "type": "number"
                    },
                    "name": {
                      "type": "string"
                    },
                    "subject": {
                      "type": "string"
                    },
                    "body": {
                      "type": "string"
                    },
                    "active": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "id",
                    "politician_id",
                    "campaign_id",
                    "name",
                    "subject",
                    "body",
                    "active"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Reply template not found"
          }
        }
      }
    },
    "/api/v1/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string"
                  }
                },
                "required": [
                  "email",
                  "password"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful login, returns session object",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string"
                    },
                    "token_type": {
                      "type": "string"
                    },
                    "expires_in": {
                      "type": "number"
                    },
                    "expires_at": {
                      "type": "number"
                    },
                    "refresh_token": {
                      "type": "string"
                    },
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string",
                          "format": "email"
                        }
                      },
                      "required": [
                        "id",
                        "email"
                      ]
                    }
                  },
                  "required": [
                    "access_token",
                    "token_type",
                    "expires_in",
                    "expires_at",
                    "refresh_token",
                    "user"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized, invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/stalwart-hook/hook": {
      "post": {
        "tags": [
          "Stalwart"
        ],
        "summary": "/api/v1/stalwart-hook/hook",
        "description": "Processes incoming emails from Stalwart MTA and provides routing instructions",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "context": {
                    "type": "object",
                    "properties": {}
                  },
                  "envelope": {
                    "type": "object",
                    "properties": {
                      "from": {
                        "type": "string",
                        "format": "email"
                      },
                      "to": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "email"
                        }
                      }
                    },
                    "required": [
                      "from",
                      "to"
                    ]
                  },
                  "message": {
                    "type": "object",
                    "properties": {
                      "headers": {
                        "type": "object",
                        "additionalProperties": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ]
                        }
                      },
                      "subject": {
                        "type": "string"
                      },
                      "body": {
                        "type": "object",
                        "properties": {
                          "text": {
                            "type": "string"
                          },
                          "html": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "required": [
                      "headers"
                    ]
                  },
                  "messageId": {
                    "type": "string"
                  },
                  "timestamp": {
                    "type": "number"
                  }
                },
                "required": [
                  "envelope",
                  "message"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Stalwart hook response with routing instructions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "action": {
                      "type": "string",
                      "enum": [
                        "accept",
                        "reject",
                        "quarantine",
                        "discard"
                      ]
                    },
                    "modifications": {
                      "type": "object",
                      "properties": {
                        "folder": {
                          "type": "string"
                        },
                        "headers": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "action"
                  ]
                }
              }
            }
          }
        }
      }
    }
  }
}