{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "Circular Democracy API",
    "description": "API for processing citizen messages to politicians"
  },
  "servers": [
    {
      "url": "https://api.circulardemocracy.org",
      "description": "Production server"
    },
    {
      "url": "http://localhost:8787",
      "description": "Development server"
    }
  ],
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {},
    "parameters": {}
  },
  "paths": {
    "/api/v1/messages/analytics": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Analytics"
        ],
        "summary": "/api/v1/messages/analytics",
        "description": "Retrieve message analytics showing daily message counts grouped by campaign for the last N days (default: 7 days)",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d+$",
              "default": "7",
              "description": "Number of days to look back (default: 7)"
            },
            "required": false,
            "description": "Number of days to look back (default: 7)",
            "name": "days",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Message analytics grouped by day and campaign",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "analytics": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "campaign_id": {
                            "type": "number"
                          },
                          "campaign_name": {
                            "type": "string"
                          },
                          "message_count": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "date",
                          "campaign_id",
                          "campaign_name",
                          "message_count"
                        ]
                      }
                    }
                  },
                  "required": [
                    "analytics"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": false
                    },
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/messages": {
      "post": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Messages"
        ],
        "summary": "/api/v1/messages",
        "description": "Receives a citizen message, classifies it by campaign, and stores it for politician response",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "external_id": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255,
                    "description": "Unique identifier from source system"
                  },
                  "sender_name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255,
                    "description": "Full name of the message sender"
                  },
                  "sender_email": {
                    "type": "string",
                    "maxLength": 255,
                    "format": "email",
                    "description": "Email address of the sender"
                  },
                  "recipient_email": {
                    "type": "string",
                    "maxLength": 255,
                    "format": "email",
                    "description": "Email address of the target politician"
                  },
                  "subject": {
                    "type": "string",
                    "maxLength": 500,
                    "description": "Message subject line"
                  },
                  "message": {
                    "type": "string",
                    "minLength": 10,
                    "maxLength": 10000,
                    "description": "Message body content"
                  },
                  "html_content": {
                    "type": "string",
                    "maxLength": 50000,
                    "description": "HTML version of message content"
                  },
                  "text_content": {
                    "type": "string",
                    "maxLength": 50000,
                    "description": "Plain text version of message content"
                  },
                  "timestamp": {
                    "type": "string",
                    "format": "date-time",
                    "description": "When the message was originally sent (ISO 8601)"
                  },
                  "channel_source": {
                    "type": "string",
                    "maxLength": 100,
                    "description": "Source system identifier"
                  },
                  "campaign_hint": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "Optional campaign name hint from sender"
                  }
                },
                "required": [
                  "external_id",
                  "sender_name",
                  "sender_email",
                  "recipient_email",
                  "subject",
                  "message",
                  "timestamp"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message processed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message_id": {
                      "type": "number"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "processed",
                        "failed",
                        "politician_not_found",
                        "duplicate"
                      ]
                    },
                    "campaign_id": {
                      "type": "number"
                    },
                    "campaign_name": {
                      "type": "string"
                    },
                    "confidence": {
                      "type": "number",
                      "minimum": 0,
                      "maximum": 1
                    },
                    "duplicate_rank": {
                      "type": "number"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "success",
                    "status"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": false
                    },
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing Supabase JWT",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": false
                    },
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": false
                    },
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Politician not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message_id": {
                      "type": "number"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "processed",
                        "failed",
                        "politician_not_found",
                        "duplicate"
                      ]
                    },
                    "campaign_id": {
                      "type": "number"
                    },
                    "campaign_name": {
                      "type": "string"
                    },
                    "confidence": {
                      "type": "number",
                      "minimum": 0,
                      "maximum": 1
                    },
                    "duplicate_rank": {
                      "type": "number"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "success",
                    "status"
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Duplicate message",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message_id": {
                      "type": "number"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "processed",
                        "failed",
                        "politician_not_found",
                        "duplicate"
                      ]
                    },
                    "campaign_id": {
                      "type": "number"
                    },
                    "campaign_name": {
                      "type": "string"
                    },
                    "confidence": {
                      "type": "number",
                      "minimum": 0,
                      "maximum": 1
                    },
                    "duplicate_rank": {
                      "type": "number"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "success",
                    "status"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": false
                    },
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/campaigns": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Campaigns"
        ],
        "responses": {
          "200": {
            "description": "A list of campaigns",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "number"
                      },
                      "name": {
                        "type": "string"
                      },
                      "slug": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string",
                        "nullable": true
                      },
                      "status": {
                        "type": "string"
                      },
                      "created_at": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "id",
                      "name",
                      "slug",
                      "description",
                      "status",
                      "created_at"
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Campaigns"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 3
                  },
                  "slug": {
                    "type": "string",
                    "minLength": 3,
                    "pattern": "^[a-z0-9-]+$"
                  },
                  "description": {
                    "type": "string"
                  }
                },
                "required": [
                  "name",
                  "slug"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created campaign",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "number"
                    },
                    "name": {
                      "type": "string"
                    },
                    "slug": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string",
                      "nullable": true
                    },
                    "status": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "slug",
                    "description",
                    "status",
                    "created_at"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/campaigns/stats": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Campaigns",
          "Statistics"
        ],
        "summary": "/api/v1/campaigns/stats",
        "responses": {
          "200": {
            "description": "Campaign statistics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "campaigns": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "message_count": {
                            "type": "number"
                          },
                          "recent_count": {
                            "type": "number"
                          },
                          "avg_confidence": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "message_count",
                          "recent_count"
                        ]
                      }
                    }
                  },
                  "required": [
                    "campaigns"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Failed to fetch statistics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/campaigns/{id}": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d+$"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "A single campaign",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "number"
                    },
                    "name": {
                      "type": "string"
                    },
                    "slug": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string",
                      "nullable": true
                    },
                    "status": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "slug",
                    "description",
                    "status",
                    "created_at"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Campaign not found"
          }
        }
      }
    },
    "/api/v1/campaigns/{id}/replies/broadcast": {
      "post": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Campaigns"
        ],
        "summary": "/api/v1/campaigns/{id}/replies/broadcast",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d+$"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Creates broadcast reply rows and sends immediately when JMAP is configured; otherwise leaves messages pending for the scheduled worker.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "campaign_id": {
                      "type": "number"
                    },
                    "supporter_count": {
                      "type": "number"
                    },
                    "recipient_count": {
                      "type": "number"
                    },
                    "messages_created": {
                      "type": "number"
                    },
                    "failures": {
                      "type": "number"
                    },
                    "replies_sent": {
                      "type": "number"
                    },
                    "replies_failed": {
                      "type": "number"
                    },
                    "jmap_ready": {
                      "type": "boolean"
                    },
                    "first_send_error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "campaign_id",
                    "supporter_count",
                    "messages_created",
                    "failures",
                    "replies_sent",
                    "replies_failed",
                    "jmap_ready"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request (e.g. no active template or no supporters)"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/api/v1/politicians": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Politicians"
        ],
        "responses": {
          "200": {
            "description": "A list of politicians",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "number"
                      },
                      "name": {
                        "type": "string"
                      },
                      "email": {
                        "type": "string",
                        "format": "email"
                      },
                      "party": {
                        "type": "string",
                        "nullable": true
                      },
                      "country": {
                        "type": "string",
                        "nullable": true
                      },
                      "region": {
                        "type": "string",
                        "nullable": true
                      },
                      "position": {
                        "type": "string",
                        "nullable": true
                      },
                      "active": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "id",
                      "name",
                      "email",
                      "party",
                      "country",
                      "region",
                      "position",
                      "active"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/politicians/{id}": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Politicians"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^\\\\d+$"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "A single politician",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "number"
                    },
                    "name": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string",
                      "format": "email"
                    },
                    "party": {
                      "type": "string",
                      "nullable": true
                    },
                    "country": {
                      "type": "string",
                      "nullable": true
                    },
                    "region": {
                      "type": "string",
                      "nullable": true
                    },
                    "position": {
                      "type": "string",
                      "nullable": true
                    },
                    "active": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "email",
                    "party",
                    "country",
                    "region",
                    "position",
                    "active"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Politician not found"
          }
        }
      }
    },
    "/api/v1/reply-templates": {
      "get": {
        "summary": "/api/v1/reply-templates",
        "description": "Retrieve a list of all campaign auto-reply templates. Templates define automated email responses sent to supporters.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Reply Templates"
        ],
        "responses": {
          "200": {
            "description": "A list of reply templates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "number"
                      },
                      "campaign_id": {
                        "type": "number"
                      },
                      "name": {
                        "type": "string"
                      },
                      "subject": {
                        "type": "string"
                      },
                      "body": {
                        "type": "string",
                        "description": "Markdown formatted email body"
                      },
                      "active": {
                        "type": "boolean"
                      },
                      "layout_type": {
                        "type": "string",
                        "enum": [
                          "text_only",
                          "standard_header"
                        ]
                      },
                      "send_timing": {
                        "type": "string",
                        "enum": [
                          "immediate",
                          "office_hours",
                          "scheduled"
                        ]
                      },
                      "scheduled_for": {
                        "type": "string",
                        "nullable": true,
                        "format": "date-time"
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "updated_at": {
                        "type": "string",
                        "format": "date-time"
                      }
                    },
                    "required": [
                      "id",
                      "campaign_id",
                      "name",
                      "subject",
                      "body",
                      "active",
                      "layout_type",
                      "send_timing",
                      "created_at",
                      "updated_at"
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "/api/v1/reply-templates",
        "description": "Create a new auto-reply template for a campaign. The template defines the email content, layout, and scheduling for automated responses to supporters. If active=true, this will deactivate other templates for the same campaign.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Reply Templates"
        ],
        "requestBody": {
          "description": "Reply template data including subject, message body (markdown), layout type, and send timing.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "campaign_id": {
                    "type": "number"
                  },
                  "name": {
                    "type": "string",
                    "minLength": 3
                  },
                  "subject": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "body": {
                    "type": "string",
                    "minLength": 10
                  },
                  "layout_type": {
                    "type": "string",
                    "enum": [
                      "text_only",
                      "standard_header"
                    ],
                    "default": "standard_header"
                  },
                  "send_timing": {
                    "type": "string",
                    "enum": [
                      "immediate",
                      "office_hours",
                      "scheduled"
                    ],
                    "default": "office_hours"
                  },
                  "scheduled_for": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "active": {
                    "type": "boolean",
                    "default": true
                  }
                },
                "required": [
                  "campaign_id",
                  "name",
                  "subject",
                  "body"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created reply template",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "number"
                    },
                    "campaign_id": {
                      "type": "number"
                    },
                    "name": {
                      "type": "string"
                    },
                    "subject": {
                      "type": "string"
                    },
                    "body": {
                      "type": "string",
                      "description": "Markdown formatted email body"
                    },
                    "active": {
                      "type": "boolean"
                    },
                    "layout_type": {
                      "type": "string",
                      "enum": [
                        "text_only",
                        "standard_header"
                      ]
                    },
                    "send_timing": {
                      "type": "string",
                      "enum": [
                        "immediate",
                        "office_hours",
                        "scheduled"
                      ]
                    },
                    "scheduled_for": {
                      "type": "string",
                      "nullable": true,
                      "format": "date-time"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "id",
                    "campaign_id",
                    "name",
                    "subject",
                    "body",
                    "active",
                    "layout_type",
                    "send_timing",
                    "created_at",
                    "updated_at"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation failed - check request body"
          }
        }
      }
    },
    "/api/v1/reply-templates/{id}": {
      "get": {
        "summary": "/api/v1/reply-templates/{id}",
        "description": "Retrieve detailed information about a specific campaign auto-reply template.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Reply Templates"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d+$",
              "description": "Template ID"
            },
            "required": true,
            "description": "Template ID",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "A single reply template",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "number"
                    },
                    "campaign_id": {
                      "type": "number"
                    },
                    "name": {
                      "type": "string"
                    },
                    "subject": {
                      "type": "string"
                    },
                    "body": {
                      "type": "string",
                      "description": "Markdown formatted email body"
                    },
                    "active": {
                      "type": "boolean"
                    },
                    "layout_type": {
                      "type": "string",
                      "enum": [
                        "text_only",
                        "standard_header"
                      ]
                    },
                    "send_timing": {
                      "type": "string",
                      "enum": [
                        "immediate",
                        "office_hours",
                        "scheduled"
                      ]
                    },
                    "scheduled_for": {
                      "type": "string",
                      "nullable": true,
                      "format": "date-time"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "id",
                    "campaign_id",
                    "name",
                    "subject",
                    "body",
                    "active",
                    "layout_type",
                    "send_timing",
                    "created_at",
                    "updated_at"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Reply template not found"
          }
        }
      },
      "patch": {
        "summary": "/api/v1/reply-templates/{id}",
        "description": "Update an existing auto-reply template. You can modify the subject, message body, layout type, send timing, and active status. Setting active=true will deactivate other templates for the same campaign.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Reply Templates"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d+$",
              "description": "Template ID"
            },
            "required": true,
            "description": "Template ID",
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "description": "Fields to update. All fields are optional.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 3
                  },
                  "subject": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "body": {
                    "type": "string",
                    "minLength": 10
                  },
                  "layout_type": {
                    "type": "string",
                    "enum": [
                      "text_only",
                      "standard_header"
                    ]
                  },
                  "send_timing": {
                    "type": "string",
                    "enum": [
                      "immediate",
                      "office_hours",
                      "scheduled"
                    ]
                  },
                  "scheduled_for": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "active": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated reply template",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "number"
                    },
                    "campaign_id": {
                      "type": "number"
                    },
                    "name": {
                      "type": "string"
                    },
                    "subject": {
                      "type": "string"
                    },
                    "body": {
                      "type": "string",
                      "description": "Markdown formatted email body"
                    },
                    "active": {
                      "type": "boolean"
                    },
                    "layout_type": {
                      "type": "string",
                      "enum": [
                        "text_only",
                        "standard_header"
                      ]
                    },
                    "send_timing": {
                      "type": "string",
                      "enum": [
                        "immediate",
                        "office_hours",
                        "scheduled"
                      ]
                    },
                    "scheduled_for": {
                      "type": "string",
                      "nullable": true,
                      "format": "date-time"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "id",
                    "campaign_id",
                    "name",
                    "subject",
                    "body",
                    "active",
                    "layout_type",
                    "send_timing",
                    "created_at",
                    "updated_at"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation failed - check request body"
          },
          "403": {
            "description": "Forbidden - not authorized to update this template"
          },
          "404": {
            "description": "Reply template not found"
          }
        }
      },
      "delete": {
        "summary": "/api/v1/reply-templates/{id}",
        "description": "Permanently delete an auto-reply template. This action cannot be undone.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Reply Templates"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d+$",
              "description": "Template ID"
            },
            "required": true,
            "description": "Template ID",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "Reply template deleted successfully"
          },
          "403": {
            "description": "Forbidden - not authorized to delete this template"
          },
          "404": {
            "description": "Reply template not found"
          }
        }
      }
    },
    "/api/v1/reply-templates/{id}/toggle-active": {
      "post": {
        "summary": "/api/v1/reply-templates/{id}/toggle-active",
        "description": "Activate or deactivate an auto-reply template. Only one template can be active per campaign. Setting active=true will automatically deactivate other templates for the same campaign.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Reply Templates"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d+$",
              "description": "Template ID"
            },
            "required": true,
            "description": "Template ID",
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "description": "Activation status to set",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "active": {
                    "type": "boolean",
                    "description": "Set to true to activate, false to deactivate"
                  }
                },
                "required": [
                  "active"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Template activation status updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "number"
                    },
                    "campaign_id": {
                      "type": "number"
                    },
                    "name": {
                      "type": "string"
                    },
                    "subject": {
                      "type": "string"
                    },
                    "body": {
                      "type": "string",
                      "description": "Markdown formatted email body"
                    },
                    "active": {
                      "type": "boolean"
                    },
                    "layout_type": {
                      "type": "string",
                      "enum": [
                        "text_only",
                        "standard_header"
                      ]
                    },
                    "send_timing": {
                      "type": "string",
                      "enum": [
                        "immediate",
                        "office_hours",
                        "scheduled"
                      ]
                    },
                    "scheduled_for": {
                      "type": "string",
                      "nullable": true,
                      "format": "date-time"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "id",
                    "campaign_id",
                    "name",
                    "subject",
                    "body",
                    "active",
                    "layout_type",
                    "send_timing",
                    "created_at",
                    "updated_at"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Reply template not found"
          }
        }
      }
    },
    "/api/v1/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string"
                  }
                },
                "required": [
                  "email",
                  "password"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful login, returns session object",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string"
                    },
                    "token_type": {
                      "type": "string"
                    },
                    "expires_in": {
                      "type": "number"
                    },
                    "expires_at": {
                      "type": "number"
                    },
                    "refresh_token": {
                      "type": "string"
                    },
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string",
                          "format": "email"
                        }
                      },
                      "required": [
                        "id",
                        "email"
                      ]
                    }
                  },
                  "required": [
                    "access_token",
                    "token_type",
                    "expires_in",
                    "refresh_token",
                    "user"
                  ],
                  "additionalProperties": {
                    "nullable": true
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized, invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Invalid auth provider response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "tags": [
          "Stalwart"
        ],
        "summary": "/health",
        "description": "Check health status of the Stalwart hook service",
        "responses": {
          "200": {
            "description": "Stalwart hook service health check",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "service": {
                      "type": "string",
                      "enum": [
                        "stalwart-hook"
                      ]
                    },
                    "timestamp": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "service",
                    "timestamp"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/worker/process-replies": {
      "post": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Worker"
        ],
        "summary": "/api/v1/worker/process-replies",
        "description": "Manually trigger scheduled reply processing for admin use",
        "responses": {
          "200": {
            "description": "Scheduled replies processed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "number"
                        },
                        "sent": {
                          "type": "number"
                        },
                        "failed": {
                          "type": "number"
                        },
                        "errors": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "message_id": {
                                "type": "number"
                              },
                              "error": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "message_id",
                              "error"
                            ]
                          }
                        }
                      },
                      "required": [
                        "total",
                        "sent",
                        "failed",
                        "errors"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "result"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Worker processing failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/worker/health": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Worker"
        ],
        "summary": "/api/v1/worker/health",
        "description": "Check health status of the reply worker service",
        "responses": {
          "200": {
            "description": "Worker service health check",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "service": {
                      "type": "string",
                      "enum": [
                        "reply-worker"
                      ]
                    },
                    "timestamp": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "service",
                    "timestamp"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/mta-hook": {
      "post": {
        "tags": [
          "Stalwart"
        ],
        "summary": "/mta-hook",
        "description": "Processes incoming emails and provides routing instructions",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "messageId": {
                    "type": "string",
                    "description": "Stalwart internal message ID"
                  },
                  "queueId": {
                    "type": "string",
                    "description": "Queue ID for tracking"
                  },
                  "sender": {
                    "type": "string",
                    "format": "email",
                    "description": "Envelope sender"
                  },
                  "recipients": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "email"
                    },
                    "description": "All envelope recipients"
                  },
                  "headers": {
                    "type": "object",
                    "additionalProperties": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      ]
                    },
                    "description": "All email headers"
                  },
                  "subject": {
                    "type": "string"
                  },
                  "body": {
                    "type": "object",
                    "properties": {
                      "text": {
                        "type": "string",
                        "description": "Plain text body"
                      },
                      "html": {
                        "type": "string",
                        "description": "HTML body"
                      }
                    }
                  },
                  "size": {
                    "type": "number",
                    "description": "Message size in bytes"
                  },
                  "timestamp": {
                    "type": "number",
                    "description": "Unix timestamp when received"
                  },
                  "spf": {
                    "type": "object",
                    "properties": {
                      "result": {
                        "type": "string",
                        "enum": [
                          "pass",
                          "fail",
                          "softfail",
                          "neutral",
                          "temperror",
                          "permerror",
                          "none"
                        ]
                      },
                      "domain": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "result"
                    ]
                  },
                  "dkim": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "string",
                          "enum": [
                            "pass",
                            "fail",
                            "temperror",
                            "permerror",
                            "neutral",
                            "none"
                          ]
                        },
                        "domain": {
                          "type": "string"
                        },
                        "selector": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "result"
                      ]
                    }
                  },
                  "dmarc": {
                    "type": "object",
                    "properties": {
                      "result": {
                        "type": "string",
                        "enum": [
                          "pass",
                          "fail",
                          "temperror",
                          "permerror",
                          "none"
                        ]
                      },
                      "policy": {
                        "type": "string",
                        "enum": [
                          "none",
                          "quarantine",
                          "reject"
                        ]
                      }
                    },
                    "required": [
                      "result"
                    ]
                  }
                },
                "required": [
                  "messageId",
                  "sender",
                  "recipients",
                  "headers",
                  "size",
                  "timestamp"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Instructions for message handling",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "action": {
                      "type": "string",
                      "enum": [
                        "accept",
                        "reject",
                        "quarantine",
                        "discard"
                      ]
                    },
                    "modifications": {
                      "type": "object",
                      "properties": {
                        "folder": {
                          "type": "string",
                          "description": "IMAP folder to store message"
                        },
                        "headers": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          }
                        },
                        "subject": {
                          "type": "string"
                        }
                      }
                    },
                    "reject_reason": {
                      "type": "string"
                    },
                    "confidence": {
                      "type": "number",
                      "minimum": 0,
                      "maximum": 1
                    }
                  },
                  "required": [
                    "action"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "action": {
                      "type": "string",
                      "enum": [
                        "reject"
                      ]
                    },
                    "reject_reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "action",
                    "reject_reason"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Error - default to accept",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "action": {
                      "type": "string",
                      "enum": [
                        "accept"
                      ]
                    },
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "action",
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "tags": []
}